.app.dark {
    --bg-color: blue;
    --inverted-bg-color: #fff;
    --primary-color: green;
    --secondary-color: #0bd90b;
    --inverted-primary-color: #c54c4c;
    --inverted-secondary-color: #412b81;
}